*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
}


.title{
    margin-top: 0;
}
h1{
    align-self: center;
    color: #52048a;
    font-size: 4rem;
    font-weight: bolder;
    border-bottom: 2px solid  #52048a;
}

h2{
    align-self: center;
    color: #52048a;
    font-size: 4rem;
    font-weight: bolder;
    font-weight: 900;
   

}
.bewertung{
    display: flex;
    gap: 1rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

i{
    font-size: 4rem;
    color: #52048a;

}
p{
    font-size: 2rem;
    color: #52048a;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
   
    
}

form{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
   
  
}

input{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    background-color: #52048a;
    border-radius: 0.5rem;
    color: white;
}

button{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    background-color: #52048a;
    border-radius: 0.3rem;
    color: white;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #b9a7c6;
}

#customers tr:hover {
    background-color: #897497;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #52048a;
    color: white;
}





@media only screen and (max-width: 900px) {
    h2 {
      font-size: 1.6rem;
    }
  
    p{
        font-size: 1.2rem;
    }
    i{
        font-size: 2rem;
    }

    .container{
        margin: 1rem 0.5rem;
    }
  }